.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: red;
}

table {
  color: rgb(47, 96, 255);
  border-radius: 7px;
  overflow: hidden;
  margin: 14px 0;
  min-width: 300px;
  background: #eff5fd;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}